<ion-view class="image-background">
    <ion-nav-title>{{"l_app_header" | translate}}</ion-nav-title>
    <ion-content scroll="false">
        <div class="row row-center row-75">
            <div class="col col-center">
                <img src="img/home-icon.png" style="width: 100%;padding: 10% 10% 10% 10%;" />
            </div>
        </div>
        <div class="row row-bottom row-25">
            <div class="col col-center">
                <p style="width: 100%;text-align:center;">{{'l_version'|translate}}: {{$root.appVersion}}</p>
                <p style="width: 100%;text-align:center;">{{'l_copyright'|translate}}</p>
            </div>
        </div>
    </ion-content>
</ion-view>
